/*ie-ribalekoodia, koska mobiiliselainten (varsinkaan ie) tekijät 
eivät piittaa standardeista vaan kusettavat selaimen leveydeksi 
jotain mitä ne eivät todellisuudessa ole. Vastaanota raivoni MS*/
@-ms-viewport{
	width: device-width;
}

/*VITUN BUTTONIT MENKÄÄ NYT SAATAANA VIEREKKÄIN*/
div.confirmbuttons{
	
}

/*normaaliversio, alustus*/
	div.nimi{
		font : 1000%/100% verdana;
		color: #F00;
	}

	div.nimi.modi{
		font : 1000%/100% verdana;
		color: #757575;
	}


	/*sivun sisältöosuus*/
	article {

		/*
		max-width: 1040px ;
		margin-left: auto ;
		margin-right: auto ;
		position: relative;
		font : 100%/100% Arial;
		padding: 40px;
		background: #FFFFFF;*/
	}
	img {
		max-width: 100%;
	}

	/*lopussa oleva footer*/
	footer {

	}


/*isoille näytöille väliltä 800px (puolikas fullHD on 960px) 
|------------------|
|------------------|
|------------------|
|------------------|
*/
@media only screen and (min-width: 800px) {/* and (max-width: 1929px) {*/
	/*"normaali versio"*/
	body {
		background: #1060A0;/*sininen*/
	}
}

/*pieni näyttö (kännykkä yms) 200px-799px
|----|
|----|
|----|
*/
@media only screen and (max-width: 799px) and (min-width: 200px)  {

}
