/*rakenne (itselleni selitettynä):
	1. yhteiset (normiversio)
	2. jokaiselle koolle omat muutoksensa
		-jättikoko
		-normikoko
		-tabletti/kännykkä
		-aivan mini
*/

/*ie-ribalekoodia, koska mobiiliselainten (varsinkaan ie) tekijät 
eivät piittaa standardeista vaan kusettavat selaimen leveydeksi 
jotain mitä ne eivät todellisuudessa ole. Vastaanota raivoni MS*/
@-ms-viewport{
	width: device-width;
}

/*normaaliversio, alustus*/
	div.nimi{
		font : 1000%/100% verdana;
		opacity : 0.1;
		color: #FFFFFF;
		font-weight: bold;
		font-style:italic;
		position: fixed;
		float: right;
		margin-top:-130px;
		margin-left:-25px;
		margin-right:-2000px;
		display: block;
	}
	/*valikkopalkki ylälaidassa*/
	div.ylapalkki{
		text-align: center;
		max-width: 1040px ;
		margin-top:100px;
		margin-left: auto ;
		margin-right: auto ;
		font : 160%/100% Arial;
		position: relative; /*tuo taustatektin eteen*/
		padding: 40px;
		background: #FFFFFF;
		opacity:0.6;
		border-top-right-radius:1em;/*pyöristys toiseen kulmaan*/
		/*border-top-left-radius:1em;*/
	}
	div.ylapalkki:hover{
		opacity:1;
	}
	nav.valikko {
		list-style-type:none;
	}
	li {
		display:inline;
	}
	a {
		color: #FF5010;/*rohkeanpunainen*/
		text-decoration:none;
	}
	a.otsake{
		font : 260%/100% Arial;
		color: #230423;
		text-decoration:none;
		font-weight: bold;
		opacity:1;
	}
	a.ei{
		color: #230423;
	}
	a.kylla{
		color: #230423;
		font-weight: bold;
	}

	/*sivun sisältöosuus*/
	article {
		max-width: 1040px ;
		margin-left: auto ;
		margin-right: auto ;
		position: relative;
		font : 100%/100% Arial;
		padding: 40px;
		background: #FFFFFF;
	}
	p {
		color : #230423;
	}
	::selection {
		background: #FF5010;
		color: #FFFFFF;
	}
	img {
		max-width: 100%;
	}
	img.suurennettava{
		width: 30%;
	}
	img.suurennettava:hover{
		width: 50%;
	}
	img.oikealeijuja{
		width:30%; 
		float:right; 
		margin-left:10px;
	}
	/*lopussa oleva footer*/
	footer {
		color: #230423;
		max-width: 1040px ;
		margin-left: auto ;
		margin-right: auto ;
		position: relative;
		font : 100%/100% Arial;
		padding: 40px;
		background: #FFFFFF;

		/*border-bottom-right-radius:1em;*/
		border-bottom-left-radius:1em;
		opacity:0.6;
	}
	footer:hover{
		opacity:1;
	}
	hr {
		border: 0;
		height: 1px;
		background: #000;
	}

/*julmetuille näytöille/yhdistelmille 1930->...
|---------------------------------------------|
|---------------------------------------------|
|---------------------------------------------|
|---------------------------------------------|
*/
@media only screen and (min-width: 1930px) {
	/*näkyy kaksi kolumnia vierekkäin -TODO
	isompi nimi
	läpinäkyvää*/

	body {
		background: #FF0000;/*punainen*/
	}
	div.nimi{
		font : 8000%/100% verdana;
		opacity : 0.5;
		font-weight: bold;
		font-style:italic;
		position: fixed;
		float: right;
		margin-top:-340px;
		margin-left:-220px;
		margin-right:-200000px;
		display: block;
	}
	article {
		opacity:0.8;
	}
	article:hover{
		opacity:1;
	}
}

/*isoille näytöille väliltä 800px-1929px (puolikas fullHD on 960px) 
|------------------|
|------------------|
|------------------|
|------------------|
*/
@media only screen and (min-width: 800px) and (max-width: 1929px) {
	/*"normaali versio"*/
	body {
		background: #1060A0;/*sininen*/
	}
}

/*pieni näyttö (kännykkä yms) 200px-799px
|----|
|----|
|----|
*/
@media only screen and (max-width: 799px) and (min-width: 200px)  {
	/*valikko pienennetty, 
	nimi pienennetty, 
	kuvat näkyvät pienempinä, 
	reunoissa ei ole toppausta, 
	marginia ja paddingia on vähennetty,
	hoover on poistettu*/
	body {
		background: #FF5010;/*oranssi*/
	}
	::selection {
		background: #1060A0;/*sininen*/
		color: #FFFFFF;
	}
	div.nimi{
		font : 460%/100% verdana;
		opacity : 0.3;
		font-weight: bold;
		font-style:italic;
		position: fixed;
		float: right;
		margin-top:-60px;
		margin-left:-20px;
		margin-right:-2000px;
		display: block;
	}
	a.otsake{
		font : 50px Arial;
		color: #230423;
		text-decoration:none;
		font-weight: bold;
		opacity:1;
	}
	div.ylapalkki{
		font : 30px Arial;
		text-align: left;
		margin-top:47px;
		
		margin-right: -5px;
		margin-left: -5px;
		padding-right: 5px;
		padding-left: 5px;
		opacity:1.0;
	}
	li {
		display:list-item;
	}
	article {
		font : 20px Arial;

		margin-top: -20px;
		padding-top: 0px;
		margin-bottom: -20px;
		padding-bottom: 5px;

		margin-right: -5px;
		margin-left: -5px;
		padding-right: 5px;
		padding-left: 5px;
	}
	img.suurennettava{
		width: 100%;
	}
	img.suurennettava:hover{
		width: 100%;
	}
	img.oikealeijuja{
		width: 100%;
	}
	footer {
		padding-top: 20px;
		padding-bottom: 5px;

		margin-right: -5px;
		margin-left: -5px;
		padding-right: 5px;
		padding-left: 5px;
		opacity:1.0;
	}
}

/*aivan liian pieni näyttö 0px-200px
|-|
*/
@media only screen and (max-width: 200px){
	body {
		background: #FF50FF;/*joku random väri*/
	}
	::selection {
		background: #1060A0;/*sininen*/
		color: #FFFFFF;
	}
	div.nimi{
		font : 130%/100% verdana;
		opacity : 0.3;
		font-weight: bold;
		font-style:italic;
		position: fixed;
		float: right;
		margin-top:-24px;
		margin-left:-11px;
		margin-right:-2000px;
		display: block;
	}
	a.otsake{
		font : 120%/100% Arial;
		color: #230423;
		text-decoration:none;
		font-weight: bold;
		opacity:1;
	}
	div.ylapalkki{
		text-align: left;
		margin-top:20px;

		margin-right: -7px;
		margin-left: -7px;
		padding-right: 2px;
		padding-left: 2px;
		opacity:1.0;
	}
	li {
		display:list-item;
	}
	article {
		font : 120%/100% Arial;
		margin-top: -20px;
		padding-top: 0px;
		margin-bottom: -20px;
		padding-bottom: 2px;

		margin-right: -7px;
		margin-left: -7px;
		padding-right: 2px;
		padding-left: 2px;
	}
	img.suurennettava{
		width: 100%;
	}
	img.suurennettava:hover{
		width: 100%;
	}
	img.oikealeijuja{
		width: 100%;
	}
	footer {
		padding-top: 20px;
		padding-bottom: 2px;

		margin-right: -7px;
		margin-left: -7px;
		padding-right: 2px;
		padding-left: 2px;
		opacity:1.0;
	}
}

/*universaalit*
	/*kun testausvaihe on valmis niin tämän voi laittaa koskemaan kaikkea...tai sitten ei
	body {
		background: #1060A0; normi sininen väri taustalle
	}*/